body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-primary: #000000; /* Light blue for primary text */
  --color-secondary: #FFAB91; /* Soft orange for secondary elements */
  --color-third: #A5D6A7; /* Soft green for accents */
  --color-fourth: #B0BEC5; /* Light grey for less important elements */
  --color-fifth: #9ebacd; /* Off-white for backgrounds */
  --color-accent1: #FFD740; /* Amber for highlighted elements */
  --color-danger: #EF5350; /* Bright red for errors and warnings */
  --color-dangerHover: #f17f7d; /* Bright red for errors and warnings */
  --color-dark-blue: #3188d3; /* Bright blue for important actions */
  --color-white: #ffffff; /* Bright blue for important actions */
  
  /* Legal chat app color  */
  --color-accent2: #F48FB1; /* Pink for interactive elements */
  --bg-third: #9590dc; /* White for background */
  --bg-primary: #9979cc; /* White for background */
  --bg-primary-2: #000000; /* Very light grey for background */
  --bg-secondary: #f9e2fa; /* Light grey for secondary backgrounds */
  --bg-accent: #0096d6; /* Light blue-grey for accent areas */
  --bg-chat-box: #b71111; /* Very light grey for chat box background */
  --color-btn-bg: #0a202b; /* Light blue-grey for button backgrounds */
}